<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id='user-hello'></div>

    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(document.getElementById('room-name').textContent);

      const chatsocket = new WebSocket(
        'ws://'  +
        window.location.host +
        '/ws/chat/' +
        roomName +
        '/'
      );

      chatsocket.onmessage = function(e){
        const data = JSON.parse(e.data)
        console.log(data)
        document.querySelector('#user-hello').innerHTML = (data.tester)
      }
    </script>
  </body>
</html>
